# Default ignored files
/shelf/
scripts/
logs/
target/
storage/
.idea/shelf
.idea/dataSources/
.idea/httpRequests/

/.idea/workspace.xml
/.idea/dataSources.local.xml
src/main/resources/application.properties
src/main/resources/application-dev.properties
