#mainContainer {
    width: 70vh;    
    margin-left: auto;
    margin-right: auto;

    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#logoContainer {
    width: 70vh;

    margin-left: auto;
    margin-right: auto;
}