@media only screen and (max-width: 40em) {
    #mainContainer {
        width: 90vw !important;
    }

    #logoContainer {
        width: 90vw !important;
    }

    .navbar-nav {
        margin-top: 2%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    li {
        margin-bottom: 3%;
        margin-left: auto !important;
        margin-right: auto;
    }
}

#mainContainer {
    width: 40vw;

    margin-left: auto;
    margin-right: auto;

    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#logoContainer {
    width: 30vw;

    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    margin-left: auto;
}

li {
    margin-left: 10px;
}

.btn.btn-light {
    width: 110px;
}