@media only screen and (max-width: 40em) {

    #accordionFlushExample {
        width: auto !important;
    }

    table {
        width: auto !important;
    }

    .container-fluid.text-center {
        position: sticky !important;
    }

    .navbar-nav {
        margin-top: 2%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    li {
        margin-bottom: 3%;
        margin-left: auto !important;
        margin-right: auto;

        width: 100px;
    }
}

.navbar-nav {
    margin-left: auto;
}

li {
    margin-left: 10px;
}

#accordionFlushExample {
    width: 70vw;

    margin: 5% auto;

    border-radius: 0.7em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.form-floating {
    padding-bottom: 20px;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.container-fluid.text-center {
    margin-bottom: 10px;
}

#waveform {
    border-radius: 0.7em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

table {
    border: 2px solid #0d6efd;
    margin: 2% auto;

    width: 70%;
}

td {
    border: 2px solid #0d6efd;
    padding: 4px;
}

td p {
    margin-top: 0;
    margin-bottom: 0;
}

table td button {
    width: 100%;
}

#deleteExam table {
    width: 70%;
    border: 2px solid #0d6efd;
}

#deleteExam td{
    border: 2px solid #0d6efd;
}