@media only screen and (max-width: 40em) {

    .container a {
        padding-bottom: 5px;
    }

    .navbar-nav {
        margin-top: 2%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    li {
        margin-bottom: 3%;
        margin-left: auto !important;
        margin-right: auto;
    }

    #languageContainer a{
        margin-bottom: 5px;
    }

}

.navbar-nav {
    margin-left: auto;
}

li {
    margin-left: 10px;
}

.btn.btn-light {
    width: 110px;
}