@media only screen and (max-width: 40em) {

    #accordionFlushExample {
        width: auto !important;
    }

    #variantContainer {
        width: 90vw !important;
    }

    table {
        width: auto !important;
    }

    .table-responsive table {
        width: 100% !important;
    }

    #imageContainer2 {
        margin-bottom: 5%;
    }

    #imgContainer2 .row.text-center {
        display: block;
    }

    .navbar-nav {
        margin-top: 2%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    li {
        margin-bottom: 3%;
        margin-left: auto !important;
        margin-right: auto;
    }

}

.navbar-nav {
    margin-left: auto;
}

li {
    margin-left: 10px;
}

#accordionFlushExample {
    width: 70vw;

    margin: 5% auto;

    border-radius: 0.7em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#variantContainer {
    width: 70vw;

    margin: 10% auto 5%;

    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#variantFormContainer {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.form-floating {
    padding-bottom: 20px;
}

audio {
    width: 100%;
}

.btn.btn-light {
    width: 110px;
}