<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registerPage.css}">
    <link rel="icon" th:href="@{/icons/English-02.svg}">
    <title>Register Page</title>
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<div class="container" id="logoContainer">
    <a href="https://speaking-ege.ru">
        <img th:src="@{/icons/English-04.svg}">
    </a>
</div>

<div class="container" id="mainContainer">
    <div class="row">

        <div class="col text-center">
            <h3 align="center">Registration</h3>
            <p align="center" th:if="${show}" th:text="${errorMessage}">Something went wrong.</p>

            <form class="form-floating" th:action="@{/registration}" name="registerForm" method="POST" onsubmit="return validateForm();">
                <div class="form-floating mb-3 mt-3">

                    <input class="form-control" type="login" id="username" name="username" align="center" autocomplete="username" placeholder="Username"/>
                    <label for="username">Login</label>
                </div>

                <div class="form-floating mb-3 mt-3">
                    <input class="form-control" type="password" id="password" name="password" align="center" autocomplete="new-password" placeholder="Password"/>
                    <label for="password">Password</label>
                </div>

                <div class="form-floating mb-3 mt-3">
                    <input class="form-control" type="email" id="email" name="email" align="center" autocomplete="email" placeholder="Email"/>
                    <label for="email">Email</label>
                </div>

                <button type="submit" class="btn btn-primary mb-3">Register</button>
                <p><a href="/login">Sign in</a></p>
            </form>

        </div>
    </div>
</div>

<script>
    function validateForm() {
        const usernameField = document.forms["registerForm"]["username"].value;
        const passwordField = document.forms["registerForm"]["password"].value;
        const emailField = document.forms["registerForm"]["email"].value;

        if(usernameField == null || usernameField === ""){
            alert("Please fill Username field");
            return false;
        }

        if(passwordField == null || passwordField === ""){
            alert("Please fill Password field");
            return false;
        }

        if(emailField == null || emailField === ""){
            alert("Please fill Email field");
            return false;
        }

        return true;
    }
</script>

</body>
</html>